<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
    <p class="form-title">Hello ! Welcome back.</p>
    <p class="form-description">
        Login in with your details that you entered during your
        registration.
    </p>
    <input
        type="username"
        name="username"
        placeholder="Username"
        required
        formControlName="username"
        class="form-input"
    />
    <input
        type="password"
        name="password"
        placeholder="Password"
        required
        formControlName="password"
        class="form-input"
    />
    <div class="form-error-container">
        <p class="form-error-text">{{errorMessage}}</p>
    </div>
    <!-- <div class="form-info-container">
        <div class="form-info-radio-container">
            <input type="radio" class="form-info-radio" />
            <p class="form-info-text">Keep me signed in</p>
        </div>
        <a [routerLink]="['/forget']" class="form-reset-link">
            Forgot password?
        </a>
    </div> -->
    <button class="form-btn" [disabled]="loginForm.invalid" type="submit">
        Sign in
    </button>
    <div class="form-footer-container">
        <p class="form-footer-text">Not a member yet?</p>
        <a [routerLink]="['/auth/register']" class="form-footer-link">
            Sign up
        </a>
    </div>
</form>