<form [formGroup]="registerForm" (ngSubmit)="onSubmit()"class="form-container">
    <p class="form-title">
        Create an account and discover the benefits.
    </p>
    <p class="form-description"></p>
    <input
        type="text"
        name="firstName"
        placeholder="First Name"
        required
        formControlName="firstName"
        class="form-input"
    />
    <input
        type="text"
        name="lastName"
        placeholder="Last Name"
        required
        formControlName="lastName"
        class="form-input"
    />
    <input
        type="email"
        name="email"
        placeholder="Email"
        required
        formControlName="email"
        class="form-input"
    />
    <input
        type="username"
        name="username"
        placeholder="Username"
        required
        formControlName="username"
        class="form-input"
    />
    <input
        type="password"
        name="password"
        placeholder="Password"
        required
        formControlName="password"
        class="form-input"
    />
    <div class="form-error-container">
        <p class="form-error-text">{{errorMessage}}</p>
    </div>
    <!-- <div class="form-info-container">
        <div class="form-info-radio-container">
            <input type="radio" Name="form-info-radio" />
            <p class="form-info-text">
                I argree to all the Terms and Conditions and Privacy
                Policy.
            </p>
        </div>
    </div> -->

    <button class="form-btn" [disabled]="registerForm.invalid" type="submit">
        Sign up
    </button>
    <div class="form-footer-container">
        <p class="form-footer-text">
            Are you already a member?
        </p>
        <a [routerLink]="['/auth/login']"
            class="form-footer-link"
        >
            Sign in
    </a>
    </div>
</form>